coil_extension.zip
coil_extension_edge.zip
coilfirefoxextension@coil.com.xpi
test/fixtures/coil-oauth-wm.js
*.apk
six-apktool-decoded/assets/dist.crx
six-apktool-decoded/META-INF
six-apktool-decoded/build
safari/Coil/Coil.xcodeproj/project.xcworkspace/
safari/Coil/build
safari/Coil/Coil.xcodeproj/xcuserdata/
safari/Coil/configs/Local.xcconfig
safari-local
six-apktool-decoded-local
