node_modules/
.DS_Store
Thumbs.db
.idea
.vscode/
*.sublime-project
*.sublime-workspace
*.log
*.tsbuildinfo
package-lock.json
coverage
results
yarn-error.log

# Clean out stuff
packages/*/build
packages/*/coverage
packages/*/results
packages/*/dist
packages/*/dist2

.eslintrc.local.js
jest.config.local.js

packages/coil-extension/test/fixtures/coil-oauth-wm.js
.yarn/cache
.pnp.js
.pnp.cjs
.yarn/install-state.gz
.yarn/unplugged
.yarn/build-state.yml
