version: 2.1

references:
  parameterized-node-version: &parameterized-node-version
    parameters:
      node-version:
        type: string
    docker:
      - image: cimg/node:<< parameters.node-version >>-browsers
  just-one-node-version-matrix: &just-latest-lts-node-version
    matrix:
      parameters:
        node-version: [ "16.19.0" ]

jobs:
  # Run Linting
  lint-all:
    <<: *parameterized-node-version
    steps:
      - checkout
      - restore_cache:
          keys:
            - v6-dependencies-{{ checksum "package.json" }}-{{ checksum "yarn.lock" }}-<< parameters.node-version >>
      - run:
          class: inner
          name: Yarn Install
          command: |
            export PUPPETEER_CACHE_DIR=$PWD/puppeteer-cache
            yarn --immutable
            export PUPPETEER_PRODUCT='firefox'
            yarn rebuild puppeteer
      - run:
          class: inner
          name: Lint Project
          command: |
            # show only errors with --quiet
            yarn lint:all --quiet
      - save_cache:
          paths:
            - node_modules
            - .yarn
            - puppeteer-cache
          key: v6-dependencies-{{ checksum "package.json" }}-{{ checksum "yarn.lock" }}-<< parameters.node-version >>

workflows:
  version: 2
  build:
    jobs:
      - lint-all:
          <<: *just-latest-lts-node-version
