version: 2.1

references:
  cache-key: &cache_key v7-dependencies-{{ checksum "package.json" }}-{{ checksum "pnpm-lock.yaml" }}-<< parameters.node-version >>

  parameterized-node-version: &parameterized-node-version
    parameters:
      node-version:
        type: string
    docker:
      - image: cimg/node:<< parameters.node-version >>-browsers
  just-one-node-version-matrix: &just-latest-lts-node-version
    matrix:
      parameters:
        node-version: [ "18.15.0" ]

jobs:
  # Run Linting
  lint-all:
    <<: *parameterized-node-version
    steps:
      - checkout
      - restore_cache:
          keys:
            - *cache_key
      - run:
          name: Install pnpm
          command: |
            sudo npm install -g pnpm
            pnpm --version
      - run:
          name: PNPM Install
          command: |
            export PUPPETEER_CACHE_DIR=$PWD/puppeteer-cache
            pnpm install # --no-frozen-lockfile
            git diff
            export PUPPETEER_PRODUCT='firefox'
            pnpm rebuild puppeteer
      - run:
          name: Lint Project
          command: |
            # show only errors with --quiet
            pnpm lint:all --quiet
      - save_cache:
          paths:
            - node_modules
            - .pnpm
            - puppeteer-cache
          key: *cache_key

workflows:
  version: 2
  build:
    jobs:
      - lint-all:
          <<: *just-latest-lts-node-version
